@media(max-width: 1000px){

  .container{
    padding:0px 30px;
  }
  p{
    font-size:20px;
  }
  .modal {
    position: absolute;
    top:20%;
    left:15%;
    background-color: #e6ecf0;
    padding: 40px 10px;
    border-radius: 10px;
    width: 70%;
    height: auto;
    text-align: center;
  }
  .intro img{
    width: 250px;
  }
  .studying{
    padding:30px 0px;
    width:100%;
    float:none;
  }
  .playing-music{
    width:100%;
    float:none;
  }
  .study{
    margin: 0 auto;
    width:100%;
    padding:80px 0px;
  }
  .study-service{
    float:left;
    width:50%;
  }
  .study-service p{
    margin:0 auto;
    width:80%;
  }
  .udemy, .sololearn{
    padding-top:45px;
  }
  .about h1{
    padding-bottom: 40px;
  }
  .about p{
    padding-bottom: 0px;
  }
  .table{
    display: none;
  }
  .to-top{
    z-index:10;
    position:fixed;
    bottom:15px;
    right:30px;
  }

  @media(max-width: 670px){
    h1{
      font-size: 40px;
    }
    .container{
      padding:0px 15px;
    }
    .menu{
      display: inline-block;
      color:white;
      float:right;
    }
    .menu, .menu span {
      display: inline-block;
      transition: all .4s;
    }
    .menu {
      margin-top:22px;
      position: relative;
      width: 30px;
      height: 26px;
    }
    .menu span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
    }
    .menu span:nth-of-type(1) {
      top: 0;
    }
    .menu span:nth-of-type(2) {
      top: 11px;
    }
    .menu span:nth-of-type(3) {
      bottom: 0;
    }
    .menu.active span:nth-of-type(1) {
      -webkit-transform: translateY(11px) rotate(-45deg);
      transform: translateY(11px) rotate(-45deg);
    }
    .menu.active span:nth-of-type(2) {
      opacity: 0;
    }
    .menu.active span:nth-of-type(3) {
      -webkit-transform: translateY(-11px) rotate(45deg);
      transform: translateY(-11px) rotate(45deg);
    }
    .header-menu{
      display: block;
      position:fixed;
      top:70px;
      left:0px;
      width:83%;
      text-align: left;
      background-color: rgba(34, 49, 52, 0.8);
      transform: translate(-100%,0px);
    }
    .slide-right{
      transform: translate(0px,0px);
      transition:all 0.5s;
    }
    .slide-left{
      transform: translate(-100%,0px);
      transition:all 0.5s;
    }
    .header-menu a{
      color: white;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding:15px 0px 15px 15px;
      font-size: 22px;
      cursor: pointer;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .modal {
      position: absolute;
      top:10%;
      left: 5%;
      background-color: #e6ecf0;
      padding: 40px 10px;
      border-radius: 10px;
      width: 90%;
      height: auto;
      text-align: center;
    }
    .welcome h1{
      font-size: 40px;
    }
    .header-logo a{
      font-size: 25px;
    }
    .hobby{
      padding:50px 0px;
    }
    .hobby h1{
      padding-bottom: 10px;
    }
    .study{
      padding:50px 0px 10px;
    }
    .study-service{
      float:left;
      width:100%;
      padding-bottom: 40px;
    }
    .study-service img{
      width:60%;
    }
    .study-service p{
      margin:0 auto;
      width:90%;
    }
    .udemy, .sololearn{
      padding-top:0px;
    }
    .about{
      padding:50px 0px;
    }
    .about p{
      padding-bottom: 0px;
    }
    .youtube{
      width:100%;
      padding-bottom: 56.25%;
    }
    .studying img{
      width:100%;
      height:auto;
    }
    .contact-form{
      padding:50px 0px;
    }
    footer h3,footer p{
      font-size: 15px;
    }
    .to-top{
      bottom:15px;
      right:15px;
    }
    .to-top p{
      font-size: 15px;
    }
  }

}
